---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our variables
$base-font-family: "Source Sans Pro", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$tt-font-family:   Inconsolata, Consolas, 'Droid Sans Mono', monospace;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.35;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #F7F7F7;
$brand-color:      #00C;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$tt-background-color: white;
$tt-border-color:  $grey-color-light;

$quote-color:      $grey-color-dark;
$quote-border-color:  $grey-color-light;

// Width of the content area
$content-width:    1000px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
//        "layout",
//        "syntax-highlighting",
	"tango",
        "forkongithub",
        "elkiherd"
;

@media (min-width: 48em) {
  html, body {
    font-size: 16px;
  }
}
@media (min-width: 58em) {
  html, body {
    font-size: 20px;
  }
}
/*@media (min-width: 68em) {
  html, body {
    font-size: 22px;
  }
}*/

$sidebar-color: darken($brand-color, 25%);
$sidebar-background-color: mix(lighten($brand-color, 50%), $background-color, 50%);
$sidebar-sep-color: mix(lighten($brand-color, 25%), $background-color, 25%);

.sidebar {
  text-align: center;
  //padding: 1rem .5rem;
  // color: rgba(255,255,255,.5);
  // background-color: darken($brand-color, 25%);
  color: $sidebar-color;
  background-color: $sidebar-background-color;
}
@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 14rem;
    text-align: left;
    box-shadow: inset -2.5ex -1ex 1ex -2ex rgba(0,0,0,.4);
  }
}
.sidebar .elk {
  text-align: center;
}
.sidebar .elk img {
  width: 6em;
}
.sidebar {
  /* Sidebar links */
  a {
    color: $sidebar-color;
  }

  /* About section */
  h1 {
    color: $sidebar-color;
    margin-top: 0;
    font-size: 1.8rem;
    text-align: center;
  }

  nav {
    margin-bottom: 1rem;

    .item {
      display: block;
      line-height: 1.5;
      padding-left: .5rem;
      padding-right: .5rem;
    }
    .subitem {
      display: block;
      line-height: 1.5;
      padding-left: 1rem;
      padding-right: .5rem;
    }
    a:hover, a:focus {
      text-decoration: underline;
    }
    a.active {
      font-weight: bold;
      background: $background-color;
      margin-right: 0px;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
    }
  }
}

.content {
  padding-top:    2rem;
  padding-bottom: 2rem;
  margin-left:    .5rem;
  margin-right:    .5rem;
}

@media (min-width: 48em) {
  .content {
    max-width: 48rem;
    margin-left: 16rem;
    margin-right: 1rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

// Fonts
//pre, tt, code { font-family: Inconsolata, Consolas, 'Droid Sans Mono', monospace; background-color: white; }
//h1, h2, h3, h4 { code { border: none; background: none; }
//blockquote { color: $grey-color-dark; }

// Definition lists
dt { font-weight: bold }
dd { padding-left: 1em; }

// Warning boxes
.version-info {
  font-size: x-small;
  text-align: right;
}
.box-recommend {
  margin: .2em;
  padding: .2em;
  border: 4px solid DarkGreen;
  background: mix($background-color, green, 95%);
}
.box-warn {
  margin: .2em;
  padding: .2em;
  border: 4px solid DarkRed;
  background: mix($background-color, red, 95%);
}

// Protected email links
.maillink {
    color: $brand-color;
}
div.elklogo {
  text-align: center;
}
@media (min-width: 58em) {
  div.elklogo {
    float: right;
  }
  img.elklogo {
    max-width: 16rem;
  }
}
@media (min-width: 80em) {
  img.elklogo {
    max-width: 30rem;
  }
}
// Static ELK for navigation
.navelk {
  position: fixed;
  top: 0;
  right: 0;

  img { width: 2em; }
}
@media (min-width: 48em) {
  .navelk {
    display: none;
  }
}

// Table styling
table{
    border-collapse: collapse;
    border-spacing: 0;
    border:2px solid $grey-color-light;
}

th{
    border-bottom:2px solid $grey-color;
}

td{
    border:1px solid $grey-color-light;
}
