<aside class="sidebar" id="nav">
  <div class="elk"><a href="/{{ site.baseurl }}"><img src="/img/elk200.png" alt="ELKI Data Mining"></a></div>
  <h1><a href="/{{ site.baseurl }}">ELKI&nbsp;Data&nbsp;Mining</a></h1>
  <nav>
  {% assign pages_list = site.pages | sort: 'navigation' %}
  {% for node in pages_list %}
  {% if node.title != nil and node.navigation != nil and node.parent == nil %}
    <a class="item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | replace: '.html' }}">{{ node.short | default: node.title }}</a>
    {% if node.section != nil and node.section == page.section or node.section == page.parent %}
    {% assign sub_list = site.pages | where: 'parent', node.section | sort: 'navigation' %}
    {% for sub in sub_list %}
      <a class="subitem{% if page.url == sub.url %} active{% endif %}" href="{{ sub.url | replace: '.html' }}">{{ sub.short | default:  sub.title }}</a>
    {% endfor %}
    {% endif %}
  {% endif %}
  {% endfor %}
    <span class="item" style="margin-top: 1em"><a href="https://github.com/elki-project/elki"><span class="icon icon--github">{% include icon-github.svg %}</span> elki-project</a> on GitHub</span>
  </nav>
  <a href="#nav" class="navelk"><img src="/img/elk200.png" alt="Go to navigation"></a>
</aside>
