<aside class="sidebar"><div class="container">
  <h1><a href="{{ site.baseurl }}">ELKI&nbsp;Data&nbsp;Mining</a></h1>
  <nav>
  {% assign pages_list = site.pages | sort: 'navigation' %}
  {% for node in pages_list %}
  {% if node.title != null and (node.navigation or (node.section and node.section == page.parent)) %}
    <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{% if node.short %}{{ node.short }}{% else %}{{ node.title }}{% endif %}</a>
    {% if node.section and (node.section == page.section or node.section == page.parent) %}
    {% for sub in pages_list %}
      {% if sub.parent == node.section %}
      <a class="sidebar-nav-subitem" href="{{ sub.url }}">{% if sub.short %}{{ sub.short }}{% else %}{{ sub.title }}{% endif %}</a>
      {% endif %}
    {% endfor %}
    {% endif %}
  {% endif %}
  {% endfor %}
  </nav>
</div></aside>
{% comment %}
<footer class="site-footer">
  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>
</footer>
{% endcomment %}
