---
layout: compress
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include header.html %}
<div class="content">
  {{ content }}
</div>
{% include footer.html %}
<script src="/js/maillink.js" type="text/javascript"></script>
{% if site.safe %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SPGTL9D7B8"></script>
<script>window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments);}if(!window['ga-disable-UA-87792924-1']){gtag('js',new Date());gtag('config','G-SPGTL9D7B8');}</script>
{% endif %}
</body>
</html>
